<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="MobileWorld.signup1"/>
      <class name="MobileWorld.signin1"/>
      <class name="MobileWorld.Allmobiles1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
